/* Reset CSS */
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: gotham, sans-serif;
    background-image: url(img/copyr.jpeg);
    background-position: center;
    background-size: cover;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h4 {
    color: white;
    text-align: center;
}

.navbar {
    width: 100%;
    background-color: #0c0424;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;

}

.nav-list a:hover {
    background-color: rgb(98, 0, 255);
}

.form-container {
    margin-top: 80px; 
    position: relative;
    z-index: 1;
    max-height: 700px;
    width: 500px;
    overflow-y: auto;
}

form {
    
    background-color: #050225;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 3px solid rgb(12, 3, 62);
}

h2 {
    font-size: 40px;
    text-align: center;
    color: white;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-left: 5px;
}

.radio-group {
    display: flex;
}

select {
    width: 50%;
}

.form-group {
    margin-bottom: 15px;
}

.form-container i {
    font-size: 30px;
    size: 30px;
    color: rgb(255, 255, 255);
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"],
input[type="reset"] {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #750099;
    cursor: pointer;
    box-sizing: border-box;
}

input[type="reset"] {
    background-color: #000270;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    opacity: 0.8;
}
